body{
	background: #FFBC52;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.logo_text{
	display: flex;
	position: absolute;
	color: #000;
	text-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
	font-family: Montserrat;
	font-size: 35px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	left: 670px;
	top: 90px;
	width: 250px;
	text-decoration: none;
}
.logo_mt{
	display: flex;
	position: absolute;
	color: #FF52D9;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	z-index: 3;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	left: 610px;
	top: 100px;
	text-decoration: none;
}
.logo_ellipse{
	display: flex;
	position: absolute;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	left: 590px;
	top: 78px;
	text-decoration: none;
}

.recovery_big{
	display: flex;
	position: absolute;
	width: 200px;
	height: 350px;
	left: 480px;
	top: 150px
}

.recovery_text{
	display: flex;
	position: absolute;
	color: #FFF;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	z-index: 2;
	left: 500px;
	top: 180px;
	width: 320px;
}

.text_down{
	position: absolute;
	display: flex;
	z-index: 3;
	color: #FFF;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 510px;
	top: 450px;
}

.entrance_down{
	position: absolute;
	display: flex;
	z-index: 3;
	color: #FFF;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 840px;
	top: 450px;
	text-decoration: none;
	text-transform: uppercase;
    transition: color .2s linear;
    text-decoration: none;
}

.entrance_down:hover{
	color: #FF52D9
}

.password{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 495px;
	top: 230px;
	width: 415px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.password2{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 495px;
	top: 290px;
	width: 415px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.password_btn{
	display: flex;
	position: absolute;
	align-items: center;
  	justify-content: center;
	z-index: 3;
	border-radius: 10px;
	background: #FF52D9;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 495px;
	top: 350px;
	width: 425px;
	height: 45px;
    outline: none;
    border-radius: 10px;
}

.backgraund_img{
	display: flex;
	position: absolute;
	height: 625px;
}