body{
	background-color: #FF5952;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/*Логотип*/
.logo_text{
	display: flex;
	position: absolute;
	color: #000;
	text-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
	font-family: Montserrat;
	font-size: 35px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	left: 620px;
	top: 20px;
	width: 250px;
	text-decoration: none;
}

.logo_mt{
	display: flex;
	position: absolute;
	color: #FF955E;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	z-index: 3;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	left: 560px;
	top: 30px;
	text-decoration: none;
}

.logo_ellipse{
	display: flex;
	position: absolute;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	left: 540px;
	top: 8px;
	text-decoration: none;
}

/*Регистрационая табличка*/
.backgraund_rectangel{
	z-index: 2;
	display: flex;
	position: absolute;
	height: 520px;
	left: 455px;
	top: 80px;
}

.registration_text{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #FFF;
	text-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	left: 480px;
	top: 95px;
	width: 250px;
}

/*Поля регистрации*/
.reg_email{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 150px;
	width: 380px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.reg_password{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 205px;
	width: 380px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.reg_choice{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #3F3F3F;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 260px;
	width: 390px;
	height: 45px;
    outline: none;
    border-radius: 10px;
	
}

.reg_name{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 315px;
	width: 380px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.reg_surname{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 370px;
	width: 380px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

.reg_patronymic{
	display: flex;
	position: absolute;
	z-index: 3;
	color: #000;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 425px;
	width: 380px;
	height: 40px;
    outline: none;
    border-radius: 10px;
}

/*Кнопка*/
.reg_btn{
	display: flex;
	position: absolute;
	align-items: center;
  	justify-content: center;
	z-index: 3;
	border-radius: 10px;
	background: #FF955E;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 475px;
	top: 480px;
	width: 390px;
	height: 45px;
    outline: none;
    border-radius: 10px;
}
/*Задняя картинка*/
.backgraund_img{
	display: flex;
	position: absolute;
	height: 625px;
}

.text_down{
	position: absolute;
	display: flex;
	z-index: 3;
	color: #FFF;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 490px;
	top: 550px;
}

.entrance_down{
	position: absolute;
	display: flex;
	z-index: 3;
	color: #FFF;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	left: 790px;
	top: 550px;
	text-decoration: none;
	text-transform: uppercase;
    transition: color .2s linear;
    text-decoration: none;
}

.entrance_down:hover{
	color: #FF955E
}